@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="container">
    <div class="row">
        <div>
            <h1 class="main text-center">STOP WATCH</h1>
        </div>
        <div>
            <div class="chronometer">
                <div id="screen">00 : 00 : 00 : 00</div>
                <div class="buttons">
                    <button id="btnStart" onclick="start()">START &#9658;</button>
                    <button  onclick="reset()">RESET &#8635;</button>
                </div>
            </div>
        </div>
        <div>
            <p id="output" class="text-center"></p>
            <div id="controls" class="text-center">
                <button class="btn btn-default" id="startPause" onclick="startPause()">START</button>
                <button class="btn btn-default" onclick="reset()">RESET</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/Styles/main.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{

}