@page
@model MiniJuegoRelog.Pages.Participantes.IndexModel
@{
    ViewData["Title"] = "Lista de Participantes";
}

<div class="container">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info">Lista de Participantes</h2>
        </div>
        <div class="col-3">
            <a class="btn btn-primary" onclick="jQueryModalGet('?handler=CreateOrEdit','Crear Participante')">Crear Nuevo</a>
        </div>
    </div>
    <br />
    <br />
    <div class="card">
        <div id="viewAll" class="card-body table-responsive"></div>
    </div>  
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
                $('#viewAll').load('?handler=ViewAllPartial');
            });
            $(function () {
                $('#reload').on('click', function () {
                    $('#viewAll').load('?handler=ViewAllPartial');
                });
            });
    </script>
}